@charset "utf-8";
/* CSS Document */
*{
    box-sizing: border-box;
}
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑",Arial;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img,input{
    border: 0;
}
img{
    display: inline-block;
}
.f_p::after{
    content: ".";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
//window
.window{
    //顶部
    .header{
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        .h_content{
            width: 100%;
            float: left;
            min-height: 1px;
            .h_c_z{
                width: 1170px;
                padding: 0 15px;       
                margin: 0 auto;
                overflow: hidden;
            }
        }
    }
}
